<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: "arial";
            margin-left: 20px;
        }
        .container{
            position: absolute;
            width: 100%;
        }
        .cuisine, .cinema{
            position: relative;
            width: 50%;
            float: left;
        }

        .form {
            position: absolute;
            top : 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="cuisine">
            <h3>Cartes cuisine</h3>    
            <h4>{{cuisine["name"]}}</h4>
            <p>Type : {{cuisine["type"]}}</p>
            <p>Points de vie : {{cuisine["pv"]}}</p>
            <p>Point de mana : {{cuisine["pm"]}}</p>
            <p>Point d'attaque : {{cuisine["pa"]}}</p>
        </div>
        <div class="cinema">
            <h3>Cartes cinéma</h3>
            <h4>{{cinema["name"]}}</h4>
            <p>Type : {{cuisine["type"]}}</p>
            <p>Points de vie : {{cuisine["pv"]}}</p>
            <p>Point de mana : {{cuisine["pm"]}}</p>
            <p>Point d'attaque : {{cuisine["pa"]}}</p>
        </div>
    </div>
    <div class"form">
        <form>
            <input type="text" name="name">nom de la carte</input>
        </form>
    </div>
</body>
</html>